{% load staticfiles  %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>profissa.de {% block title  %}{% endblock %}</title>

    <!-- Styles -->
    <link href="{% static 'css/core.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/thesaas.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
  </head>

  <body class="mh-fullscreen bg-img center-vh p-20 bg-primary">

    {% block content %}{% endblock  %}
    <!-- Scripts -->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/thesaas.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>

