{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'core/icons/apple-icon-57x57.png'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'core/icons/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'core/icons/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'core/icons/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'core/icons/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'core/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'core/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'core/icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'core/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/icons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'core/icons/ms-icon-144x144.png' %}">
	<!-- favicon -->
  <title>profissa.de | {% block title  %}{% endblock %}</title>
</head>
<body>
  {% block content  %}{% endblock  %}
<!-- jQuery -->
<script src="{% static 'core/js/vendor/jquery-3.1.0.min.js' %}"></script>
<!-- XM Pie Chart -->
<script src="{% static 'core/js/vendor/jquery.xmpiechart.min.js' %}"></script>
<!-- Side Menu -->
<script src="{% static 'core/js/side-menu.js' %}"></script>
<!-- Dashboard Header -->
<script src="{% static 'core/js/dashboard-header.js' %}"></script>
</body>
</html>
