{% extends "base_dashboard.html" %}
{% block title  %} Seu painel profissional{% endblock  %}
{% load static  %}
{% block content %}

<!-- SIDE MENU -->
	<div id="dashboard-options-menu" class="side-menu dashboard left closed">
        <!-- SVG PLUS -->
		<!-- /SVG PLUS -->
        <svg class="svg-plus">
            <use xlink:href="#svg-plus"></use>
		</svg>

		<!-- SIDE MENU HEADER -->
		<div class="side-menu-header">
		<!-- /SVG PLUS -->
			<!-- USER QUICKVIEW -->
			<div class="user-quickview">
				<!-- USER AVATAR -->
				<a href="author-profile.html">
				<div class="outer-ring">
					<div class="inner-ring"></div>
					<figure class="user-avatar">
                            {% if request.user.profile.avatar %}
                            <img src="{{ request.user.profile.avatar.url  }}" alt="avatar">
                            {% else %}
                            <img src="http://via.placeholder.com/350x150">
                            {% endif %}
					</figure>
				</div>
				</a>
				<!-- /USER AVATAR -->

				<!-- USER INFORMATION -->
                <p class="user-name">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</p>
				<!-- /USER INFORMATION -->
			</div>
			<!-- /USER QUICKVIEW -->
		</div>
		<!-- /SIDE MENU HEADER -->

		<!-- SIDE MENU TITLE -->
		<!-- /SIDE MENU TITLE -->

		<!-- DROPDOWN -->
		<ul class="dropdown dark hover-effect interactive">
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-settings"></span>
                    Painel
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-settings"></span>
                    Configurações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-settings"></span>
                    Avaliações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-star"></span>
                    Ordens de serviço
                </a>
                <!-- PIN -->
                <span class="pin soft-edged big primary">49</span>
                <!-- /PIN -->
			</li>
			<!-- /DROPDOWN ITEM -->


			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-tag"></span>
                    Solicitações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-credit-card"></span>
                    Mensagens
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
		</ul>
		<!-- /DROPDOWN -->


        <a href="{% url 'logout' %}" class="button medium secondary">Sair</a>
	</div>
	<!-- /SIDE MENU -->

    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        <div class="dashboard-header retracted">
            <!-- DB CLOSE BUTTON -->
            <a href="index.html" class="db-close-button">
               <img src="images/dashboard/back-icon.png" alt="back-icon">
            </a>
            <!-- DB CLOSE BUTTON -->

			<!-- DB OPTIONS BUTTON -->
            <div class="db-options-button">
                <img src="{% static 'core/images/dashboard/db-list-right.png' %}" alt="db-list-right">
                <img src="{% static 'core/images/dashboard/close-icon.png' %}" alt="close-icon">
            </div>
            <!-- DB OPTIONS BUTTON -->

            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item title">
                <!-- DB SIDE MENU HANDLER -->
                 <div class="db-side-menu-handler">
                     <img src="{% static 'core/images/dashboard/db-list-left.png' %}" alt="db-list-left">
                </div>
                <!-- /DB SIDE MENU HANDLER -->
                <h6><img src="{% static 'core/images/logo_full.png'  %}" alt="" style="margin-top:10px; width:200px; height:50px;"></h6>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->


			<!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item back-button">
                <a href="{% url 'root:core' %}" class="button mid dark-light">Voltar para a página inicial</a>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->
        </div>
        <!-- DASHBOARD HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            <!-- HEADLINE -->
            <div class="headline statement primary">
                <h4>Painel geral</h4>
            </div>
            <!-- /HEADLINE -->

			<!-- SALE DATA -->
			<div class="sale-data">
				<!-- SALE DATA ITEM -->
				<div class="sale-data-item">
					<span class="sl-icon icon-present"></span>
					<p class="text-header big">30</p>
					<div class="sale-data-item-info">
						<p class="text-header">Serviços atendidos</p>
						<p>Neste mês</p>
					</div>
				</div>
				<!-- /SALE DATA ITEM-->

				<!-- SALE DATA ITEM -->
				<div class="sale-data-item">
					<span class="sl-icon icon-present"></span>
					<p class="text-header big">100</p>
					<div class="sale-data-item-info">
						<p class="text-header">Ordens de Serviço</p>
						<p>Recebidas</p>
					</div>
				</div>
				<!-- /SALE DATA ITEM-->

				<!-- SALE DATA ITEM -->
				<div class="sale-data-item">
					<span class="sl-icon icon-tag"></span>
					<p class="text-header big">1</p>
					<div class="sale-data-item-info">
						<p class="text-header">Reclamação</p>
						<p>Em aberto</p>
					</div>
				</div>
				<!-- /SALE DATA ITEM-->

				<!-- SALE DATA ITEM -->
				<div class="sale-data-item">
					<span class="sl-icon icon-wallet"></span>
					<p class="price big"><span>R$</span>1680,00</p>
					<div class="sale-data-item-info">
						<p class="text-header">Total de Recebimentos</p>
						<p>Neste mês</p>
					</div>
				</div>
				<!-- /SALE DATA ITEM-->
			</div>
			<!-- /SALE DATA -->

            <!-- HEADLINE -->
            <div class="headline statement primary">
                <h4>Últimas Ordens de serviço</h4>
            </div>
            <!-- /HEADLINE -->
			<!-- TRANSACTION LIST -->
			<div class="transaction-list">
				<!-- TRANSACTION LIST HEADER -->
				<div class="transaction-list-header">
					<div class="transaction-list-header-date">
						<p class="text-header small">Data</p>
					</div>
					<div class="transaction-list-header-author">
						<p class="text-header small">Solicitante</p>
					</div>
					<div class="transaction-list-header-item">
						<p class="text-header small">Serviço</p>
					</div>
					<div class="transaction-list-header-price">
						<p class="text-header small">Valor</p>
					</div>
					<div class="transaction-list-header-cut">
						<p class="text-header small">Desconto</p>
					</div>
					<div class="transaction-list-header-earnings">
						<p class="text-header small">Status</p>
					</div>
					<div class="transaction-list-header-icon"></div>
				</div>
				<!-- /TRANSACTION LIST HEADER -->

				<!-- TRANSACTION LIST ITEM -->
				<div class="transaction-list-item">
					<div class="transaction-list-item-date">
						<p>20/11/2017</p>
					</div>
					<div class="transaction-list-item-author">
						<p class="text-header"><a href="">João Silva</a></p>
					</div>
					<div class="transaction-list-item-item">
						<p class="category primary"><a href="">Reparo em Gesso</a></p>
					</div>
					<div class="transaction-list-item-detail">
						<p></p>
					</div>
					<div class="transaction-list-item-price">
						<p>R$ --</p>
					</div>
					<div class="transaction-list-item-cut">
						<p><span class="light">10%</span></p>
					</div>
					<div class="transaction-list-item-earnings">
						<p class="text-header">Aguardando</p>
					</div>
					<div class="transaction-list-item-icon">
						<div class="transaction-icon secondary">
							<!-- SVG PLUS -->
							<svg class="svg-plus">
								<use xlink:href="#svg-plus"></use>
							</svg>
							<!-- /SVG PLUS -->
						</div>
					</div>
				</div>
				<!-- /TRANSACTION LIST ITEM -->



				<!-- PAGER -->
				<div class="pager-wrap">
					<div class="pager dark-light">
						<div class="pager-item"><p>1</p></div>
						<div class="pager-item active"><p>2</p></div>
						<div class="pager-item"><p>3</p></div>
						<div class="pager-item"><p>...</p></div>
						<div class="pager-item"><p>17</p></div>
					</div>
				</div>
				<!-- /PAGER -->
			</div>
			<!-- /TRANSACTION LIST -->
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

	<div class="shadow-film closed"></div>
    <!-- SVG PLUS -->
<svg style="display: none;">
	<symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
		<rect x="5" width="3" height="13"/>
		<rect y="5" width="13" height="3"/>
	</symbol>
</svg>
<!-- /SVG PLUS -->

{% endblock %}
