{% extends "base_login.html" %}
{% load staticfiles %}
{% block title  %}Login{% endblock  %}
{% block content %}

<div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
    <h5 class="text-uppercase text-center">
        <img src="{% static 'images/logo.png'  %}" style="height:80px; width:200px;"  alt="">
    </h5>
      <br><br>
      <form action="{% url 'login' %}" id="loginForm" method="POST" role="form">
          {% csrf_token  %}
          {% for error in form.non_field_errors  %}
          <div class="alert alert-danger">
              {{ error  }}
          </div>
          {% endfor  %}
          <div class="form-group{% if form.username.errors  %} has-error{% endif %}">
              <label for="{{ form.username.label  }}" style="color:black;">  Email</label>
              <input type="text" name="username"  class="form-control" placeholder="Seu email">
              {% for error in form.username.errors  %}
              <span class="help-block" style="color:red;">{{ error  }}</span>
              {% endfor  %}
          </div>

          <div class="form-group {% if form.password.errors %}has-error{% endif %}">
            <label for="{{ form.password.label  }}" style="color:black;">Senha</label>
            <input type="password" name="password" class="form-control" placeholder="Sua senha">
            {% for error in form.password.errors  %}
            <span class="help-block" style="color:red;">{{ error  }}</span>
            {% endfor  %}
        </div>

        <div class="form-group flexbox py-10">
          <a class="text-muted hover-primary fs-13" href="#">Esqueci minha senha</a>
        </div>

        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit">Entrar</button>
        </div>
      </form>

      <div class="divider">Conecte-se com:</div>
      <div class="text-center">
          <a class="btn btn-circular btn-sm btn-facebook mr-4" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-circular btn-sm btn-google mr-4" href="#"><i class="fa fa-google"></i></a>
          <a class="btn btn-circular btn-sm btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <hr class="w-30">

      <p class="text-center text-muted fs-13 mt-20">Ainda não possui uma conta? <a href="{% url 'accounts:registration'  %}">Cadastre-se</a></p>
    </div>

</div>

</div>
{% endblock %}
