			<li class="dropdown-item">
                <a href="{% url 'root:panel' %}">
                    <span class="sl-icon icon-layers"></span>
                    Painel
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
                <a href="{% url 'root:configuration_index' %}">
                    <span class="sl-icon icon-settings"></span>
                    Configurações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
                <a href="{% url 'root:ads_index' %}">
                    <span class="sl-icon icon-basket-loaded"></span>
                    Anúncios
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-info"></span>
                    Ordens de serviço
                </a>
                <!-- PIN -->
                <span class="pin soft-edged big primary">{0}</span>
                <!-- /PIN -->
			</li>
			<!-- /DROPDOWN ITEM -->


			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-paper-plane"></span>
                    Solicitações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->

			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-envelope"></span>
                    Mensagens
                </a>
			</li>
			<!-- DROPDOWN ITEM -->
			<li class="dropdown-item">
				<a href="">
                    <span class="sl-icon icon-heart"></span>
                    Avaliações
                </a>
			</li>
			<!-- /DROPDOWN ITEM -->
