
			<!-- SIDEBAR -->
			<div class="sidebar">
				<!-- DROPDOWN -->
				<ul class="dropdown hover-effect secondary">
					<li class="dropdown-item active">
                        <a href="{% url 'root:panel' %}">Painel de controle</a>
					</li>
					<li class="dropdown-item active">
                        <a href="{% url 'root:profile_edit' %}">Meu perfil</a>
					</li>
					<li class="dropdown-item active">
                        <a href="{% url 'root:solicitations_index' %}">Solicitações de serviços</a>
					</li>
					<li class="dropdown-item active">
                        <a href="{% url 'root:ad_new' %}">Oferecer serviços</a>
					</li>
				</ul>
				<!-- /DROPDOWN -->
				<!-- SIDEBAR ITEM -->
			</div>
			<!-- /SIDEBAR -->
